alabaster==0.7.12
asgiref==3.2.3
astroid==2.4.1
Babel==2.8.0
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.4
docutils==0.16
idna==2.9
imagesize==1.2.0
isort==4.3.21
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.4
Pygments==2.6.1
pylint==2.5.0
pylint-django==2.0.15


# webserver
daphne==2.5.0

# Database
mysqlclient==1.4.6
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytz==2019.3
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
